﻿
@{
    int b = 23;
    for (int i = 0; i < 10; i++)
    {
        b += i;
    }

    ViewData["Title"] = "Services";
}

<h3>@ViewData["Message"]</h3>
<h2>Services</h2>
<h2>Services</h2>
<p>@b</p>
<p>@ViewData["Pi"]</p>
<p>@ViewData["Date"]</p>
